.Display {
  padding-top: 2%;
  margin-top: 1%;
  margin-left: 35%;
  display: flex;
  text-align: center;
  box-shadow: inset 0 0 10px #000000;
  position: relative;
  width: 650px;
  height: 100px;
  background-color:white;
}
.Expense {
  padding-left: 30%;
 
}
.Income {
  padding-left: 18%;

}
